/* Pretendard Font Face Declarations */

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-Black.otf') format('opentype');
}